<footer class="site-footer">
    <div class="footer-content">
        <div class="wrapper">
            <div class="foot-cont-block">
                <h1>LATEST BLOG ENTRIES</h1>
                <ul class="lat-blog">
                    <li>
                        <h2><strong>We did a redesign...</strong></h2>
                    </li>
                </ul>
                <p>Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>
                <ul class="lat-blog">
                    <li>
                        <h2><strong>Moving to new server</strong></h2> 
                    </li>
                </ul>
                <p>Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>  
                <ul class="lat-blog">
                    <li>
                        <h2><strong>We have a new client...</strong></h2>
                    </li>
                </ul>
                <p>Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>  
            </div>
            <div class="foot-cont-block">
                <h1>RECENT COMMENTS</h1>
                <ul class="rec-comments">
                    <li>
                        <h2><strong>Ben</strong> said:</h2>
                        <p>Gratuitous octopus niacin, sodium</p>
                    </li>
                    <li>
                        <h2><strong>Joe Santos</strong> said:</h2>
                        <p>Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>                    
                    </li>
                    <li>
                        <h2><strong>Marko</strong> said:</h2>
                        <p>Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate</p>                   
                    </li>
                </ul>
            </div>
            <div class="foot-cont-block">
                <h1>ADVERTISING</h1>
                    <img class="ad-img" src="assets/ad1.png" alt="Just an Ad">
                    <img class="ad-img" src="assets/ad2.png" alt="Just an Ad">
                    <img class="ad-img" src="assets/ad3.png" alt="Just an Ad">
                    <img class="ad-img" src="assets/ad4.png" alt="Just an Ad">
            </div>
            <div class="foot-cont-block">
                <h1>TWEETER STUFF</h1>
                <div class="tweet">
                    <h2>wisefalco:</h2>
                    <p>@<span class="orange">simnor</span> Haha, this really funny(<span class="orange">http://tinyurl.com/</span>)<br><br>
                    5 minutes ago from web</p>
                </div>
                <a class="tweetlink" href="#">Follow us on Twitter</a>
                <img class="tweetImg" src="assets/twitterBird.png" alt="Twitter Image">
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="wrapper">
            <div class="wrapper">
            <nav class="site-nav">
                <a href="#" class="menu-icon">
                    <svg viewBox="0 0 18 15">
                    <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                    </svg>
                </a>

                <div class="trigger">  
                    <p class="footInfo"><span class="footTitle">{{ site.title }}</span> Copyright 2009. All rights reserved. Valid (X)HTML / CSS</p>
                    <div class="foot-nav">
                    {% assign num = 10 %}
                        {% for i in (1..num) %}

                        {% for page in site.pages %}        
                            {% if page.num == i %}
                            <a class="foot-nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | upcase }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                        </div>
                </div>
            </nav>
        </div>
        </div>
    </div>

</footer>
