
.home {
  width: 100%;
  padding: 30px 0px 30px;
  @include pagebg;
}

.featText {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: white;
    float: left;
    width: 44%;
    @extend %clearfix;
    h1 {
        font-size: 2.6em;
        line-height: 1.3em;
    }
    h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
    }
    h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: .7em;
        margin: 0px;
    }
    h4{
        font-family: 'Open Sans', sans-serif;
        font-size: .7em;
        margin: 0px 0px 35px 0px;
    }
}

#featuredImg {
    float: left;
    width: 53%;
}
.homebtns {
    width: 150px;
    height: 35px;
    border-radius: 6px;
    font-family: "open sans", sans-serif;
    font-size: .95em;
}
.quote-btn {
    margin-right: 15px;
    color: #555;
    border: 2px solid #d1d3d3;
    @include linearBg2;
    &:active {
    border: 2px inset #d1d3d3;       
    }
}

.port-btn {
    color: #EEE;
    border: 2px outset #e8a40c;
    @include linearBg3; 
    &:active {
    border: 2px inset #e8a40c;
    
    }
}

.main-content {
    width: 100%;
}

/**
 * Page content
 */
.featured {
    @include radialBg1;
    padding: 30px 0px 30px;
    border: 1px solid #555;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.tab-container {
  width: 115%;
  height: 65px;
  margin-left: -85px;
  border-bottom: 1px solid #DDD;
  background: url("../icons/tab-shadow.png");
  background-position: 0px 15px;
  background-repeat: no-repeat;

    div:first-child {
      margin-left: 8%;
      border-top-left-radius: 10px;   
    }
    div:last-child {
      border-top-right-radius: 10px;   
    }
}

.faux-tab {
    box-sizing: border-box;
    float: left;
    width: 21%;
    height: 65px;
    border: 1px solid #AAA;
    background-color: #DDD;
    color: #AAA;
  
    img {
        margin: 10px 10px 10px 20px;
        float: left;
    }
    
    h1 {
        float: left;
        margin: 10px 10px 5px;
        font-size: 1.2em;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 1.2em;
    }
    p {
        font-family: "open sans", sans-serif;
        float: left;
        margin-left: 10px;
        font-size: .7em;
    }
    
    &:hover {
        background-color: #FFF;
        
        h1 {
        color: $orange-color-light; 
        }
        
        p {
        color: #000;            
        }
    }
}
.main-area {
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 30px;
  figure {
    float: left;
    width: 50%;
    box-sizing: border-box;
    figcaption {
      font-family: "Open Sans", sans-serif;
      span {
        font-style: italic;
        color: #227ab0;
      }
    }
  }
  .list-section {
    float: left;
    width: 50%;
    box-sizing: border-box;
    h1 {
      font-weight: 700;
      color: #227ab0;
      margin: 0px;
    }
    h2 {
      font-size: 1.2em;
      margin: 0px 0px 20px;
    }
    ul {
      float: left;
      list-style: none;
      width: 40%;
      margin-bottom: 20px;
      margin-left: 10px;
      
      li {
        background-image: url("../icons/CheckBullet.png");
        background-repeat: no-repeat;
        background-position: left;
        text-indent: 20px;
      }
    }
    p {
      width: 100%;
      float: left; 
    }
  }
}
  .comment {
    float: left;
    box-sizing: border-box;
    border: 15px solid #EFEFEF;
    background-color: #FFF;
    position: relative;
    padding: 10px;
    
    h1 {
      color: $orange-color-dark;
      font-size: 1em;
    }
    blockquote{
      font-family: serif;
      font-style: italic;
      margin: 20px;
      border: none;
      font-size: 1.7em;
    }
    
    button {
      font-size: .7em;
      height: 30px;
      color: #6C6C6C;
      border-radius: 5px;
      border: 1px solid #E1E1E1;
      background-color: #F2F2F2;
      margin: 0px 10px 10px;
    }
    
    p {
      position: absolute;
      right: 190px;
      bottom: 10px;
      font-size: .7em;
      
      emphasis {
        font-style: italic;
      }
    }
    
    img {
      position: absolute;
      right: 10px;
      bottom: 30px;
    }
  }
/*
 * Internal Pages
 */
.internalpage {
  margin-top: 30px; 
  width: 100%;
  background: white;
}

/*
 * Sidebar
 */
.page-sidebar {
  width: 20%;
  float: left;
  ul {
      list-style: none;
  }
}

.about-heading {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Open Sans Condensed";
}
.sidebar-heading {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Open Sans Condensed";
}
.aside-heading {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-phone {
  color: $orange-color-light;
  font-family: "Open Sans Condensed";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $orange-color-light;
  size: 1.5em;
  text-align: center;
}
.side-nav {
  width: 100%;
  margin: 10px;
  background: #F0F0F0;
      ul {
      width: 126%;
      margin: -16px;
      }
}

.sidenavitem {
    width: 100%;
    text-indent: 30px;
    height: 50px;
    line-height: 50px;
    margin_right: 50px;
    a {
    text-decoration: none;
    color: #515450;      
    }
}
.sidenavitem:hover {
    background-image: url("../icons/sidenavhover.png");
    background-repeat: no-repeat;
    a {
     color: white; 
    }
  }

/*
 * Internal Page Content
 */
page-heading {
  
}

.internal-content {
  box-sizing: border-box;
  width: 80%;
  float: left;
  padding-left: 60px;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
