
.page-content {
  @include pagebg;
  padding-top: 30px;
  padding-bottom: 50px;
}
.home {
  width: 100%;
  padding: 30px 0px 30px;
}

.featText {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: white;
    float: left;
    width: 44%;
    @extend %clearfix;
    h1 {
        font-size: 2.6em;
        line-height: 1.3em;
    }
    h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
    }
    h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: .7em;
        margin: 0px;
    }
    h4{
        font-family: 'Open Sans', sans-serif;
        font-size: .7em;
        margin: 0px 0px 35px 0px;
    }
}

#featuredImg {
    float: left;
    width: 53%;
}
.homebtns {
    width: 150px;
    height: 35px;
    border-radius: 6px;
    font-family: "open sans", sans-serif;
    font-size: .95em;
}
.quote-btn {
    margin-right: 15px;
    color: #555;
    border: 2px solid #d1d3d3;
    @include linearBg2;
    &:active {
    border: 2px inset #d1d3d3;       
    }
}

.port-btn {
    color: #EEE;
    border: 2px outset #e8a40c;
    @include linearBg3; 
    &:active {
    border: 2px inset #e8a40c;
    
    }
}

.main-content {
    width: 100%;
}

/**
 * Page content
 */
.featured {
    @include radialBg1;
    padding: 30px 0px 30px;
    border: 1px solid #555;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.tab-container {
  width: 115%;
  height: 65px;
  margin-left: -85px;
  border-bottom: 1px solid #DDD;
  background: url("../icons/tab-shadow.png");
  background-position: 0px 15px;
  background-repeat: no-repeat;

    div:first-child {
      margin-left: 8%;
      border-top-left-radius: 10px;   
    }
    div:last-child {
      border-top-right-radius: 10px;   
    }
}

.faux-tab {
    box-sizing: border-box;
    float: left;
    width: 21%;
    height: 65px;
    border: 1px solid #AAA;
    background-color: #DDD;
    color: #AAA;
  
    img {
        margin: 10px 10px 10px 20px;
        float: left;
    }
    
    h1 {
        float: left;
        margin: 10px 10px 5px;
        font-size: 1.2em;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 1.2em;
    }
    p {
        font-family: "open sans", sans-serif;
        float: left;
        margin-left: 10px;
        font-size: .7em;
    }
    
    &:hover {
        background-color: #FFF;
        
        h1 {
        color: $orange-color-light; 
        }
        
        p {
        color: #000;            
        }
    }
}
.main-area {
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 30px;
  figure {
    float: left;
    width: 50%;
    box-sizing: border-box;
    figcaption {
      font-family: "Open Sans", sans-serif;
      span {
        font-style: italic;
        color: #227ab0;
      }
    }
  }
  .list-section {
    float: left;
    width: 50%;
    box-sizing: border-box;
    h1 {
      font-weight: 700;
      color: #227ab0;
      margin: 0px;
    }
    h2 {
      font-size: 1.2em;
      margin: 0px 0px 20px;
    }
    ul {
      float: left;
      list-style: none;
      width: 40%;
      margin-bottom: 20px;
      margin-left: 10px;
      
      li {
        background-image: url("../icons/CheckBullet.png");
        background-repeat: no-repeat;
        background-position: left;
        text-indent: 20px;
      }
    }
    p {
      width: 100%;
      float: left; 
    }
  }
}
  .comment {
    float: left;
    box-sizing: border-box;
    border: 15px solid #EFEFEF;
    background-color: #FFF;
    position: relative;
    padding: 10px;
    margin-top: 50px;
    
    h1 {
      color: $orange-color-dark;
      font-size: 1em;
    }
    blockquote{
      font-family: serif;
      font-style: italic;
      margin: 20px;
      border: none;
      font-size: 1.7em;
    }
    
    button {
      font-size: .7em;
      height: 30px;
      color: #6C6C6C;
      border-radius: 5px;
      border: 1px solid #E1E1E1;
      background-color: #F2F2F2;
      margin: 0px 10px 10px;
    }
    
    p {
      position: absolute;
      right: 190px;
      bottom: 10px;
      font-size: .7em;
      
      emphasis {
        font-style: italic;
      }
    }
    
    img {
      position: absolute;
      right: 10px;
      bottom: 30px;
    }
  }
/*
 * Internal Pages
 */
.internalpage {
  width: 100%;
  background-color: white;
  @extend %clearfix;
}

/*
 * Sidebar
 */
.page-sidebar {
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 20px;
  ul {
      list-style: none;
  }
}

.about-heading {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  color: #838382;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Open Sans";
}
.sidebar-heading {
  font-size: 1.5em;
  color: #838382;
  text-shadow: 1px 1px 1px #838382;
  font-weight: 300;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  font-family: "Open Sans Condensed";
}
.aside-heading {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-phone {
  color: $orange-color-light;
  font-family: "Open Sans Condensed";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $orange-color-light;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}
.side-nav {
  width: 100%;
  margin: 10px -10px 35px;
  background: #F0F0F0;
      ul {
      width: 126%;
      margin: -16px;
      }
}

.sidenavitem {
    width: 115%;
    text-indent: 30px;
    height: 50px;
    line-height: 50px;
    margin_right: 50px;
    a {
    text-decoration: none;
    color: #515450;      
    }
}
.sidenavitem:hover {
    background-image: url("../icons/sidenavhover.png");
    background-repeat: no-repeat;
    a {
     color: white; 
    }
  }
.services-list {
  list-style: none;
  margin: 20px 30px 0px;
  li {
    background-image: url("../icons/CheckBullet.png");
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 20px;
    margin: 5px 0px;
    font-size: .7em;
  } 
}
.aside-top {
  box-sizing: border-box;
  width: 100%;
  margin: 10px -10px 35px;
  padding: 10px 20px;
  background: #F0F0F0;
}

.contact-heading {
  font-size: .8em;
  font-weight: bold;
  color: #838382;
  margin: 10px 0px;
}

.contact-title {
  font-size: .6em;
  font-weight: bold;
  margin: 0px;
}

.asia {
  margin-top: 20px;
}

.contact-item {
  font-size: .6em;
  margin: 0px;
}

.contact-email {
  font-size: .9em;
  font-weight: bold;
  margin: 0px;
}

.side-heading {
  font-size: 1em;
  font-weight: bold;
}

.side-copy {
  font-size: .75em;  
}

/*
 * Internal Page Content
 */
.page-heading {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.5em;
  color: #4b4d4a;
}

.blog-head {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.5em; 
}

.blog-subhead {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: .7em;
  emphasis {
    font-style: italic;
  }
  span {
    font-weight: bold;
  }
}

.read-more {
  color: $orange-color-dark;
  font-style: italic;
}

.page-subheading {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #838382;
}

.internal-copy {
  font-size: .75em;
  width: 80%;
}

.section-heading {
  margin-top: 30px;
  color: $orange-color-dark;
  font-weight: bold;
}
.internal-content {
  box-sizing: border-box;
  width: 80%;
  float: left;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 80px;
    
  p {
  font-size: .75em;  
  }
  form {
    float: left;
    
    input {
      box-sizing: border-box;
      background-color: #f5f5f4;
      border: 1px solid #eeedec;
      margin-bottom: 20px;
      margin-right: 200px;
      float: left;
      padding: 5px;
    }
    
    input[type="text"] {
      width: 45%;
      height: 25px;
    } 
    
    input[type="textarea"] {
      width: 65%;
      height: 150px;
    }
    
    button {
      float: left;
      border: none;
      background-color: transparent;
      color: #1e96a0;
      padding: 0px;
      font-weight: bold;
    }
  }
  img[src*="google"] {
    width: 65%;
    float: left;
    margin-right: 5%;
  }
  .map-info {
    float: left;
    width: 24%; 
  }
}
::-webkit-input-placeholder {
  font-style: italic;
  font-size: .8em;
}

.portfolio-entry {
  background-color: #f4f4f4;
  padding: 20px;
  height: 100px;
  margin-bottom: 20px;
  @extend %clearfix;
  
  .port-head {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.4em;
    color: #4b4d4a;
  }
  .port-title {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1em;
    color: #4b4d4a;
  }
  p {
    margin-top: 10px;
  }
  img {
    float: left;
  }
  .port-copy {
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
  width: 80%;
}
}

.first-portfolio-entry {
  background-color: #f0f0f0;
  margin-bottom: 30px;
  height: 240px;
  img {
    width: 50%;
  }
  .port-copy {
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
  width: 50%;
}
}

.pricing-content {
  width: 100%; 
}

.pricing-header {
 float: left;
  width: 70%
}
.credit-cards {
  margin-top: 65px;
  float: right;
  width: 22%;
}
.pricing-table {  
  
}

.buy-now {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 184, 184);
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,231,231) 0%, rgb(220,220,220) 30%, rgb(209,209,209) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,231,231) 0%, rgb(220,220,220) 30%, rgb(209,209,209) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,231,231) 0%, rgb(220,220,220) 30%, rgb(209,209,209) 100%);
  box-shadow: inset 3.5px 6.062px 6px 0px rgba(255, 255, 255, 0.6);
  width: 105px;
  height: 35px;
  z-index: 2;
  font-size: 12px;
  font-family: "Arial";
  color: rgb(92, 100, 88);
  font-weight: bold;
  line-height: 1.333;
  text-align: center;
  -moz-transform: matrix( 0.9994162288383,0,0,1,0,0);
  -webkit-transform: matrix( 0.9994162288383,0,0,1,0,0);
  -ms-transform: matrix( 0.9994162288383,0,0,1,0,0);
  z-index: 4;
}

.buy-now:after {
  content: "";
  background-image: url("Layer 33 copy 4.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 107px;
  height: 37px;
  z-index: 3;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
